/*YW: contains css for clipboard*/
.clipboard {
    position: fixed;
    bottom: 250px;
    right: 150px;
    width: 450px;
    overflow: hidden;
}
.clipboard-expanded {
    padding: 10px;
    background-color: #fff;
}
.div-clipboard {
    border-radius: 5px;
    min-height: 40px;
    background-color: #F0F8FF;
    margin-top: 5px;
    margin-bottom: 10px;
}
#divExpandedClipboard {
    width: 100%;
    height: auto;
    min-height: 200px;
}
.btn-clipboard {
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
}
.btn-clipboard img {
    width: 100%;
    height: auto;
    background: #fff;
}
#divBtnClipboard {
    position:fixed;
    bottom: 150px;
    right: 100px;
}
