/*CSS for index.html*/
.index-content {
    display: table;
    width: 100%;
    min-height: 400px;
    max-height: 800px;
}
.index-content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.index-box{
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 5px;
}
.node-detail-box{
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 15px;
    font-family: arial, helvetica, sans-serif;
}