#divNodeDetail {
    margin: 30px auto 0;
    position: absolute;
    width: 500px;
    height: auto;
    overflow: hidden;
    display: block;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;

    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 15px;
    font-family: arial, helvetica, sans-serif;
}

#divAddRoot {
    margin: 30px auto 0;
    position: absolute;
    width: 500px;
    height: auto;
    overflow: hidden;
    display: block;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;

    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 15px;
    font-family: arial, helvetica, sans-serif;
}

#divShare {
    margin: 30px auto 0;
    position: absolute;
    width: 500px;
    height: auto;
    overflow: hidden;
    display: block;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;

    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 15px;
    font-family: arial, helvetica, sans-serif;
}

/*#nodeTitle {
    margin-top: 0px;
    width: 100%;
    -ms-word-break: break-all;
    word-break: break-all;
}*/
#spanNodeTitle {
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    -ms-word-break: break-all;
    word-break: break-all;
    font-size: 25px;
    font-family: helvetica;
}
#btnEditNodeTitle {
    width: 24px;
    height: 24px;
    border: none;
    margin-left: 10px;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
}
#btnEditNodeTitle img {
    width: 100%;
    height: auto;
    background-color: #fff;
}
#btnCloseNodeDetail {
}
#nodeTag .tag-editor {
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
/*#nodeTag a {
    margin-right: 3px;
    margin-bottom: 5px;
}
#inputAddTag {
    width: 300px;
    float: left;
    margin-right: 5px;
}*/
#inputAddChild {
    width: 300px;
    float: left;
    margin-right: 5px;
}

#divNodeTooltip {
    text-align: center;
    margin margin: 10px auto 0;
    padding: 5px;
    position: absolute;
    width: auto;
    min-width: 150px;
    max-width: 450px;
    height: auto;
    min-height: 50px;
    /*overflow: hidden; no hidden for tips ... */
    display: block;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 2px #ccc solid;
    border-radius: 3px;
    box-shadow: #333 2px 2px 4px;
    font-family: arial, helvetica, sans-serif;
}

#divNodeTooltip .tip1{
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ccc;
    position: absolute;
    top: 10px;
    left: -15px;
}

#divNodeTooltip .tip2{
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 10px;
    left: -13px;
}

.no-gutter [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#btnCloseNodeDetail {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}
