#divNodeDetail {
    margin: 30px auto 0;
    padding: 0px;
    position: absolute;
    width: 500px;
    height: auto;
    overflow: hidden;
    display: block;
    left: 50%;
    margin-left: -250px;
    background-color: #fff;

    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 15px;
    font-family: arial, helvetica, sans-serif;
}
#nodeTitle {
    -ms-word-break: break-all;
    word-break: break-all;
}
#btnCloseNodeDetail {
}
#nodeTag {
}
#nodeTag a {
    margin-right: 3px;
    margin-bottom: 5px;
}
#inputAddTag {
    width: 300px;
    float: left;
    margin-right: 5px;
}
#inputAddChild {
    width: 300px;
    float: left;
    margin-right: 5px;
}
.no-gutter [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
