<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %} - Knowledge Graph</title>
        {% block script %}
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
	    <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet"/>
        <link href="/stylesheets/base.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/autocomplete.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/helper.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/backTop.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/jquery.tag-editor.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/jquery.scrollbar.css" type="text/css" rel="stylesheet"/>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/scripts/backTop.js" type="text/javascript"></script>
        <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
	    <script type="text/javascript" src="/scripts/autocomplete.js"></script>
	    <script type="text/javascript" src="/scripts/jquery.caret.js"></script>
	    <script type="text/javascript" src="/scripts/jquery.tag-editor.js"></script>
	    <script type="text/javascript" src="scripts/multi-draggable.js"></script>
        <script type="text/javascript" src="/scripts/jquery.editable.js"></script>
        <script type="text/javascript" src="/scripts/jquery.scrollbar.js"></script>
        <script type="text/javascript" src="/scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="/scripts/constants.js"></script>

        {% endblock script %}
        {% block style %}
        {% endblock style %}

        {% endblock head %}
    </head>

    <body>
        {% block navbar %}
    	<nav class = "navbar navbar-default navbar-fixed-top">
		<div class = "container-fluid">
            <div class="navbar-header">
                {% block nav_brand%}
                <a href="/graph" class="navbar-brand">Knowledge Graph</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% endblock nav_brand%}
            </div>
            <div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    {% block nav_items%}
                    <li>
                      <a href="/social">Social</a>
                    </li>
                    <li>
                      <a href="/index_view">Index View</a>
                    </li>
                    {% endblock nav_items%}
                </ul>
                {% block search %}
                <form class="navbar-form navbar-left" action="/stream_search" role="search" method="get" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="search_keywords" id="search_keywords">
                    </div>
                    <button class = "btn btn-default" type = "submit" value = "Search">Submit</button>
                </form>
                {% endblock search %}
                {% block logout %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{logout_url}}">Logout</a></li>
                </ul>
                {% endblock logout%}
            </div>
        </div>
    	</nav>
        {% endblock navbar %}
        <div class = "container">
            {% block page_header %}
            <div class = "page-header">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <br>
                        <h1>{% block page_header_string %}{% endblock page_header_string %}</h1>
                        <p class="lead">{% block page_header_lead %}{% endblock page_header_lead %}</p>
                        {% block page_header_content %}
                        {% endblock page_header_content %}
                    </div>
                </div>
            </div>
            {% endblock page_header %}

            {% block content %}
            {% endblock content %}
        </div>
        <footer class="footer">
            {% block footer %}
                <div class="container">
                    <a>
                        &copy; Copyright 2015 by JZ & YW
                    </a>
                    <!--a href="#top" class="pull-right">Back to top</a-->
                </div>
                {% endblock footer%}
            </footer>
        <div id="helperDiv" class="helper">
        </div>
        <a id="backTop">Back To Top</a>
    </body>
    {% block body_script %}
    <script type="text/javascript" src="/scripts/base.js"></script>
    {% endblock body_script %}
</html>
{% endautoescape %}
