<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your root</title>
    <link href="//bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form class = "form_horizontal" action = "/api/createroot" method = "post">
        <p><input class = "btn btn-primary" type = "submit" value = "Create Root"></p>
        <input type = "hidden" name = "user_email" value = {{user_email}}>
        <input type = "text" class="form-control" name = "root_name" placeholder = "input the name for your root">
        <input type = "text" class="form-control" name = "title_name" placeholder = "input the title for associated graph">
    </form>
</body>
</html>