{% extends "base.html" %}
<!-- 1. Head -->
{% block title %} My Graph {% endblock title %} <!title of page>
{% block script %}
    {{ super() }} <!render bootswatch, jquery-ui and autocomplete>
{% endblock script%}
{% block style %}
    {{ super() }} <! render autocomplete style>
    <! additional style files>
    <style>
    #divNodeDetail{
        border-radius: 7px;
        margin: 30px auto 0;
        padding: 15px;
        position: absolute;
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }
    #nodeTitle {
        width: 85%;
        word-wrap: break-word;
        float: left;
    }
    #btnCloseNodeDetail {
        align: right;
    }
    #btnCloseNodeDetail {
        float: right;
    }
    #inputAddTag {
        width: 100%;
    }
    #inputAddChild {
        width: 100%;
    }
    </style>
{% endblock style %}
{% block head %}
    {{super()}}
{% endblock head%}

<!-- 2. Body -->
<!-- 2.1 nav bar -->
{% block nav_brand%}
    {{super()}}
{% endblock nav_brand%}
{% block nav_items %}
    {{super()}} <!render basic nav bar items>
{% endblock nav_items %}
{% block search %}
    {{super()}} <!render search box in nav bar>
{% endblock search %}
{% block logout%}
    {{super()}}
{% endblock logout%}
{% block navbar %}
    {{super()}}
{% endblock navbar %}
<!-- 2.2 page header -->
{% block page_header_string %}
    My Knowledge Graph
{% endblock page_header_string %}
{% block page_header_lead %}
    View my personal knowledge graph
{% endblock page_header_lead %}
{% block page_header %}
    {{super()}}
{% endblock page_header%}
<!-- 2.3 Content -->
{% block content %}
    <div class="col-lg-12" id="graphcanvas" >
    </div>
    <div id="divNodeDetail" class="popup" style="display:none">
        <div class="container">
        <div class="row">
            <h2 id="nodeTitle"></h2>
            <a href="#" id="btnCloseNodeDetail" class="btn btn-primary btn-xs">&times;</a>
        </div>
	    <div class="row" id="nodeTag">
            <h4>Tags:</h4>
            <p id="pNodeTag" class="bs-component" ></p>
        </div>
        <div class="row" id="divAddTag" style="display:none">
            <form class="form-horizontal" id="formAddTag" method="post" autocomplete="off">
                <div class="row">
                    <input id="inputAddTag" type="text" class="form-control" placeholder="Enter tag(s), separate by ;" name="childName">
                    <button id="btnAddTag" class="btn btn-primary  btn-sm" type="submit" value="Add">Add</button>
                    <button id="btnCancelAddTag" class="btn btn-primary  btn-sm" type="reset" value="Cancel">Cancel</button>
                </div>
            </form>
        </div>
        <div class="row" id="nodeChildren">
            <h4>Children:</h4>
            <div id="divNodeChildren"></div>
            <button id="btnShowAddChild" class="btn btn-primary btn-sm" value="Add Child">Add Child</button>
        </div>
        <div class="row" id="divAddChild" style="display:none">
            <form class="form-horizontal" id="formAddChild" method="post" autocomplete="off">
                <div class="row">
                    <input id="inputAddChild" type="text" class="form-control" placeholder="Enter Child Name" name="childName">
                    <button class="btn btn-primary btn-sm" type="submit" value="Add">Add</button>
                    <button id="btnCancelAddChild" class="btn btn-primary btn-sm" type="reset" value="Cancel">Cancel</button>
                </div>
            </form>
        </div>
        <div class="row" id="nodeReference">
            <h4>References:</h4>
            <div id="divReference"></div>
            <button id="btnAddReference" class="btn btn-primary btn-sm" value="Add Refrence">Add Reference</button>
            <div id="divUploadReference"></div>
        </div>
        </div>
    </div>
{% endblock content %}

<!-- 2.4 Footer -->
{% block footer %}
    {{super()}}
{% endblock footer%}

<!-- 3 JS scripts appended to the end of body-->
{% block body_script %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>
        var userID = {{user_id}};
    </script>
    <script src="/scripts/graph.js" type = "text/javascript"></script>
{% endblock body_script %}
