{% extends "base.html" %}
<!-- 1. Head -->
{% block title %} My Graph {% endblock title %} <!title of page>
{% block script %}
    <link href="/stylesheets/graph.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/graphtab.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/popup.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/dropzone.css" type="text/css" rel="stylesheet"/>
    {{ super() }} <!render bootswatch, jquery-ui, backtop>
    <script>
        var uploadUrl = "{{upload_url}}";
    </script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
{% endblock script%}
{% block style %}
    {{ super() }} <! render autocomplete style>
    <! additional style files>
{% endblock style %}
{% block head %}
    {{super()}}
{% endblock head%}

<!-- 2. Body -->
<!-- 2.1 nav bar -->
{% block nav_brand%}
    {{super()}}
{% endblock nav_brand%}
{% block nav_items %}
    {{super()}} <!render basic nav bar items>
{% endblock nav_items %}
{% block search %}
    {{super()}} <!render search box in nav bar>
{% endblock search %}
{% block logout%}
    {{super()}}
{% endblock logout%}
{% block navbar %}
    {{super()}}
{% endblock navbar %}
<!-- 2.2 page header -->
{% block page_header_string %}
    My Knowledge Graph Homepage
{% endblock page_header_string %}
{% block page_header_lead %}
    View my graphs and graphs shared with me
{% endblock page_header_lead %}
{% block page_header %}
    {{super()}}
{% endblock page_header%}
<!-- 2.3 Content -->
{% block content %}
    <div id="navTab" class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#mygraph" data-toggle="tab" aria-expanded="true">My Graph</a></li>
            <li class=""><a href="#sharedgraph" data-toggle="tab" aria-expanded="false">Shared Graph</a></li>
        </ul>
        <div id="myTabContent" class="tab-content myTabContent">
            <div class="tab-pane fade active in" id="mygraph">
                <h2>Div My Graphs</h2>
                <div class="row" id="contentMyGraph">
                    <svg width="110" height="110" id="svgAddRoot" >
                        <g class="node" id="nodeAddRoot">
                            <circle cx="50" cy="50" r="50"/>
                            <line x1="30" y1="50" x2="70" y2="50"/>
                            <line x1="50" y1="30" x2="50" y2="70"/>
                        </g>
                    </svg> 
                </div>
            </div>
            <div class="tab-pane fade" id="sharedgraph">
                <h2>Div Graphs shared with me</h2>
                <div class="row" id="contentSharedGraph">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="graphcanvas">
    </div>
    <div id="divNodeTooltip" class="popup" style="display:none">
        <div id="tooltipContent">
            <h2>POPUP for Tooltip!</h2>
        </div>
        <div class="tip1"></div>
        <div class="tip2"></div>
    </div>
    <div id="divAddRoot" class="popup" style="display:none">
        <div class="col-md-12">
            <div class="row no-gutter">
                <div class="col-md-10">
                    <h2>Add new root</h2>
                </div>
                <div class="col-md-2 text-right">
                    <a href="#" id="btnCloseAddRoot" class="btn btn-primary btn-xs">&times;</a>
                </div>
            </div>
            <div class="row" id="divAddRootForm">
                <form class="form-horizontal" id="formAddRoot" method="post" autocomplete="off">

                    <input id="inputRootName" type="text" class="form-control" placeholder="Enter the name of the new root" name="root_name">
                    <input id="inputRootTitle" type="text" class="form-control" placeholder="Enter the title of the graph" name="title">
                    <button id="btnAddRoot" class="btn btn-primary" type="submit" value="Add">Add</button>
                    <button id="btnCancelAddRoot" class="btn btn-primary" type="reset" value="Cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div id="divNodeDetail" class="popup" style="display:none">
        <div class="col-md-12">
            <div class="row no-gutter">
                <div class="col-md-10">
                    <h2 id="nodeTitle"></h2>
                </div>
            </div>
            <div class="row" id="nodeTag">
                <h4>Tags:</h4>
                <textarea id="tagEditor"></textarea>
                <!--div id="divNodeTag" class="bs-component" ></div-->
            </div>
            <div class="row" id="divAddTag" style="display:none">
                <form class="form-horizontal" id="formAddTag" method="post" autocomplete="off">
                    <input id="inputAddTag" type="text" class="form-control" placeholder="Enter tag(s), separate by semicolon" name="tagString">
                    <button id="btnAddTag" class="btn btn-primary" type="submit" value="Add">Add</button>
                    <button id="btnCancelAddTag" class="btn btn-primary" type="reset" value="Cancel">Cancel</button>
                </form>
            </div>
            <div class="row" id="nodeChildren">
                <h4>Children:</h4>
                <div class = "row" id="divNodeChild"></div>
                <button id="btnShowAddChild" class="btn btn-primary btn-sm" value="Add Child">Add Child</button>
            </div>
            <div class="row" id="divAddChild" style="display:none">
                <form class="form-horizontal" id="formAddChild" method="post" autocomplete="off">
                    <div class="row">
                        <input id="inputAddChild" type="text" class="form-control" placeholder="Enter Child Name" name="childName">
                        <button class="btn btn-primary" type="submit" value="Add">Add</button>
                        <button id="btnCancelAddChild" class="btn btn-primary" type="reset" value="Cancel">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="row" id="nodeReference">
                <h4>References:</h4>
                <div class = "row" id="divReference"></div>
                <a id="btnAddReference" class="btn btn-primary btn-sm">Add Reference</a>
                <div id="divUploadReference" style="display:none">
                    <form class="dropzone" method = "POST" enctype="multipart/form-data" id="uploader">
                        <div class="dropzone-previews"></div>
                        <div class="dz-message">
                            <h2>Drop files here or click to upload.</h2>
                        </div>
                        <input id="nodeNameInput" type="hidden" name="node_name" value = "">
                        <input id="typeInput" type="hidden" name="type_name" value = "">

                    </form>
                    <button id = "uploadBtn" class="btn btn-default">Upload</button>
                    <button id="btnCancelUpload" class="btn btn-primary" type="reset" value="Cancel">Cancel</button>
                </div>
            </div>
        </div>
        <a href="#" id="btnCloseNodeDetail" class="btn btn-primary btn-xs">&times;</a>
    </div>
{% endblock content %}

<!-- 2.4 Footer -->
{% block footer %}
    {{super()}}
{% endblock footer%}

<!-- 3 JS scripts appended to the end of body-->
{% block body_script %}
    {{ super() }}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>
        var userID = {{user_id}};
    </script>
    <script src="/scripts/graph.js" type = "text/javascript"></script>
{% endblock body_script %}
