{% extends "base.html" %}
<!-- 1. Head -->
{% block title %} My Graph {% endblock title %} <!title of page>
{% block script %}
    <link href="/stylesheets/graph.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/graphtab.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/popup.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/dropzone.css" type="text/css" rel="stylesheet"/>
    <link href="/stylesheets/clipboard.css" type="text/css" rel="stylesheet"/>
    {{ super() }} <!render bootswatch, jquery-ui, backtop>
    <script>
        var uploadUrl = "{{upload_url}}";
    </script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
{% endblock script%}
{% block style %}
    {{ super() }} <! render autocomplete style>
    <! additional style files>
{% endblock style %}
{% block head %}
    {{super()}}
{% endblock head%}

<!-- 2. Body -->
<!-- 2.1 nav bar -->
{% block nav_brand%}
    {{super()}}
{% endblock nav_brand%}
{% block nav_items %}
    {{super()}} <!render basic nav bar items>
{% endblock nav_items %}
{% block search %}
    {{super()}} <!render search box in nav bar>
{% endblock search %}
{% block logout%}
    {{super()}}
{% endblock logout%}
{% block navbar %}
    {{super()}}
{% endblock navbar %}
<!-- 2.2 page header -->
{% block page_header_string %}
    My Social
{% endblock page_header_string %}
{% block page_header_lead %}
    View my graphs and graphs shared with me
{% endblock page_header_lead %}
{% block page_header %}
    {{super()}}
{% endblock page_header%}
<!-- 2.3 Content -->
{% block content %}

{{text}}

<p>You can always <a
      href="https://www.google.com/accounts/b/0/IssuedAuthSubTokens">revoke</a>
    permission at any time.</p>

{% endblock content %}

<!-- 2.4 Footer -->
{% block footer %}
    {{super()}}
{% endblock footer%}